@{
    ViewBag.Title = "Home Page";
}

<div ng-app="wtaio">
    <div id="display" ng-controller="wtaioController">
        <div class="jumbotron">
            <h1>What train am I on?</h1>
            <p>Your phone will use GPS to work out where it is when you hit this button</p>
            <p><a href="#" class="btn btn-primary btn-lg" ng-click="getLocation()">WTAIO?</a></p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>No GPS?</h2>
                <p>
                    If we can't locate you automatically, you can choose your train manually here
                </p>
                <p><a href="#" class="btn btn-primary btn-lg">Choose Manually &raquo;</a></p>
            </div>
        </div>
    </div>
</div>